# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage
/playwright-report
/test-results
/blob-report
/playwright/.cache

# next.js
/.next/
/out/
/build

# production
/dist

# misc
.DS_Store
Thumbs.db
*.pem
*.tmp
*.swp

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editors
.vscode/
.idea/

# claude
.claude/settings.local.json
